
KANTAR_MM_dummy_data.xlsx
data.db
data.py
KANTAR_ICUBE_2022_TO_2024_coded_Data_for_Mumbai.xlsx
venv/
.ipynb_checkpoints/
__pycache__/
base_propensity_score_kantar_mumbai.json
filtering_data_on_markets.ipynb
git_commands.txt
user_db.sqlite
india_states_cities.csv
base_propensity_score_new.json
templates/bfsi.html
