<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>unique_serial_number</th>
      <th>State</th>
      <th>City</th>
      <th>pincode</th>
      <th>latitude</th>
      <th>longitude</th>
      <th>Online_Shopping</th>
      <th>Linear_Television</th>
      <th>Smart_Television</th>
      <th>Internet_Users</th>
      <th>Smart_Phone_Users</th>
      <th>Social_Media_Users</th>
      <th>Digital_Payment</th>
      <th>Credit_Card</th>
      <th>Netbanking</th>
      <th>Insurance</th>
      <th>Stocks_Shares</th>
      <th>Mutual_Funds</th>
      <th>Loan</th>
      <th>Electricity_Connection</th>
      <th>Ceiling_Fan</th>
      <th>LPG_Stove</th>
      <th>Two_wheeler</th>
      <th>Colour_TV</th>
      <th>Refrigerator</th>
      <th>Washing_Machine</th>
      <th>Personal_Computer_Laptop</th>
      <th>Car_Jeep_Van</th>
      <th>Air_Conditioner</th>
      <th>geometry</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>981</th>
      <td>1001</td>
      <td>Maharashtra</td>
      <td>Mumbai</td>
      <td>400008</td>
      <td>18.963572</td>
      <td>72.823472</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>POINT (72.8234725 18.9635716)</td>
    </tr>
    <tr>
      <th>982</th>
      <td>1002</td>
      <td>Maharashtra</td>
      <td>Mumbai</td>
      <td>400008</td>
      <td>18.963572</td>
      <td>72.823472</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>POINT (72.8234725 18.9635716)</td>
    </tr>
    <tr>
      <th>983</th>
      <td>1003</td>
      <td>Maharashtra</td>
      <td>Mumbai</td>
      <td>400083</td>
      <td>19.103900</td>
      <td>72.910050</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>POINT (72.91005 19.1039)</td>
    </tr>
    <tr>
      <th>985</th>
      <td>1005</td>
      <td>Maharashtra</td>
      <td>Mumbai</td>
      <td>400083</td>
      <td>19.103900</td>
      <td>72.910050</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>POINT (72.91005 19.1039)</td>
    </tr>
    <tr>
      <th>986</th>
      <td>1006</td>
      <td>Maharashtra</td>
      <td>Mumbai</td>
      <td>400083</td>
      <td>19.103900</td>
      <td>72.910050</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>POINT (72.91005 19.1039)</td>
    </tr>
  </tbody>
</table>