<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>unique_serial_number</th>
      <th>State</th>
      <th>City</th>
      <th>pincode</th>
      <th>latitude</th>
      <th>longitude</th>
      <th>Online_Shopping</th>
      <th>Linear_Television</th>
      <th>Smart_Television</th>
      <th>Internet_Users</th>
      <th>Smart_Phone_Users</th>
      <th>Social_Media_Users</th>
      <th>Digital_Payment</th>
      <th>Credit_Card</th>
      <th>Netbanking</th>
      <th>Insurance</th>
      <th>Stocks_Shares</th>
      <th>Mutual_Funds</th>
      <th>Loan</th>
      <th>Electricity_Connection</th>
      <th>Ceiling_Fan</th>
      <th>LPG_Stove</th>
      <th>Two_wheeler</th>
      <th>Colour_TV</th>
      <th>Refrigerator</th>
      <th>Washing_Machine</th>
      <th>Personal_Computer_Laptop</th>
      <th>Car_Jeep_Van</th>
      <th>Air_Conditioner</th>
      <th>geometry</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>Maharashtra</td>
      <td>Pune</td>
      <td>411003</td>
      <td>18.5204</td>
      <td>73.8567</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1.0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>POINT (73.8567 18.5204)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>Maharashtra</td>
      <td>Pune</td>
      <td>411005</td>
      <td>18.5204</td>
      <td>73.8567</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>POINT (73.8567 18.5204)</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>Maharashtra</td>
      <td>Pune</td>
      <td>411001</td>
      <td>18.5204</td>
      <td>73.8567</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1.0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>POINT (73.8567 18.5204)</td>
    </tr>
    <tr>
      <th>19</th>
      <td>23</td>
      <td>Maharashtra</td>
      <td>Pune</td>
      <td>411003</td>
      <td>18.5204</td>
      <td>73.8567</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1.0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>POINT (73.8567 18.5204)</td>
    </tr>
    <tr>
      <th>20</th>
      <td>24</td>
      <td>Maharashtra</td>
      <td>Pune</td>
      <td>411003</td>
      <td>18.5204</td>
      <td>73.8567</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>POINT (73.8567 18.5204)</td>
    </tr>
  </tbody>
</table>