<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>unique_serial_number</th>
      <th>State</th>
      <th>City</th>
      <th>pincode</th>
      <th>latitude</th>
      <th>longitude</th>
      <th>Online_Shopping</th>
      <th>Linear_Television</th>
      <th>Smart_Television</th>
      <th>Internet_Users</th>
      <th>Smart_Phone_Users</th>
      <th>Social_Media_Users</th>
      <th>Digital_Payment</th>
      <th>Credit_Card</th>
      <th>Netbanking</th>
      <th>Insurance</th>
      <th>Stocks_Shares</th>
      <th>Mutual_Funds</th>
      <th>Loan</th>
      <th>Electricity_Connection</th>
      <th>Ceiling_Fan</th>
      <th>LPG_Stove</th>
      <th>Two_wheeler</th>
      <th>Colour_TV</th>
      <th>Refrigerator</th>
      <th>Washing_Machine</th>
      <th>Personal_Computer_Laptop</th>
      <th>Car_Jeep_Van</th>
      <th>Air_Conditioner</th>
      <th>geometry</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2</td>
      <td>Maharashtra</td>
      <td>Thane</td>
      <td>400601</td>
      <td>19.2183</td>
      <td>72.9781</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1.0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>POINT (72.9781 19.2183)</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>Maharashtra</td>
      <td>Thane</td>
      <td>400604</td>
      <td>19.2183</td>
      <td>72.9781</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1.0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>POINT (72.9781 19.2183)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>Maharashtra</td>
      <td>Thane</td>
      <td>400604</td>
      <td>19.2183</td>
      <td>72.9781</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>POINT (72.9781 19.2183)</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>Maharashtra</td>
      <td>Thane</td>
      <td>400602</td>
      <td>19.2183</td>
      <td>72.9781</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1.0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>POINT (72.9781 19.2183)</td>
    </tr>
    <tr>
      <th>9</th>
      <td>13</td>
      <td>Maharashtra</td>
      <td>Thane</td>
      <td>400603</td>
      <td>19.2183</td>
      <td>72.9781</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1.0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>POINT (72.9781 19.2183)</td>
    </tr>
  </tbody>
</table>