{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div>     
  {% if features %} 
  <div class=" container p-2 mb-4  rounded-lg shadow-md">
    <h2 class="text-xl font-semibold p-2 mb-4">Features:</h2>
    <div class="overflow-x-auto">
      <table class="min-w-full table-auto border border-gray-300">
        <thead class="bg-black text-white">
          <tr>
            {% for category in features.keys() %}
              <th class="px-4 py-2 text-left">{{ category }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% set max_rows = features.values() | map('length') | max %}
          {% for i in range(max_rows) %}
            <tr>
              {% for category, items in features.items() %}
                <td class="px-4 py-2">
                  {% if i < items|length %}
                    <label class="flex items-center space-x-2">
                      <input type="checkbox"name="feature" 
                        value="{{ items[i].variable }}" class="form-checkbox checked:bg-gray-800 text-gray-400"
                        {% if items[i].checked %}checked{% endif %}>
                      <span>{{ items[i].name }}</span>
                    </label>
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>       
    
  {% else %}
      <p>No features available.</p>
  {% endif %}
</div>
{% endblock %}

  
  

